.header{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family:'Tahoma', sans-serif;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; /* Prevents overflow of lines */
    padding-top: 30px;
    font-size: 30px;
}

.line-text {
    position: relative;
    background-color: #FFF; 
    padding: 0 10px; /* Ensures space between text and lines */
}

.line-text::before,
.line-text::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 9999px; /* Ensure it extends far enough */
    height: 2px; /* Line thickness */
    background-color: pink; 
}

.line-text::before {
    right: 100%;
}

.line-text::after {
    left: 100%;
}

.about{
    text-align: center;
    justify-content: center;
}

.about-container{
    display: flex;
    background-color: #EDE8D5;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.about-text, .about-pic {
    flex: 1; /* This tells each item to take up equal space */
    display: flex;
    justify-content: center; /* Center content inside these containers */
    align-items: center; /* Vertically center content inside these containers */
}

.about-text {
    padding-right: 100px; /* Optional: Adds some spacing between text and picture */
    font-size: 25px;
    font-family:'Tahoma', sans-serif;
    margin-left: 200px;
}

.about-pic img {
    max-width: 100%; /* Ensures the image does not overflow its container */
    height: auto; /* Keeps the image aspect ratio */
}

.about-pic {
    max-width: 250px;
    flex: none;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}


.boxes{
    display: flex;
    gap: 40px;
    justify-content: center;
    
}

.smallbox{
    text-align: center;
}

