.header{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family:'Tahoma', sans-serif;
    background-color:  #EDE8D5;
}



.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; /* Prevents overflow of lines */
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.line-text {
    position: relative;
    background-color: #FFF; 
    padding: 0 10px; /* Ensures space between text and lines */
}

.line-text::before,
.line-text::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 9999px; /* Ensure it extends far enough */
    height: 2px; /* Line thickness */
    background-color: pink; 
}

.line-text::before {
    right: 100%;
}

.line-text::after {
    left: 100%;
}

.about{
    text-align: center;
    justify-content: center;
}

/* #EDE8D5;*/
.about-container{
    display: flex;
    background-color: #ffeeee;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text, .about-pic {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.about-text {
    padding-right: 100px; /* Optional: Adds some spacing between text and picture */
    font-size: 25px;
    font-family:'Tahoma', sans-serif;
    margin-left: 200px;
}

.about-pic img {
    max-width: 100%; /* Ensures the image does not overflow its container */
    height: auto;
}

.about-pic {
    max-width: 250px;
    flex: none;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture-box img {
    max-width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.boxes{
    display: flex;
    gap: 50px;
    justify-content: center;
    
    
}

.smallbox{
    text-align: center;
    font-family:'Tahoma', sans-serif;
    font-size: 20px;
    transition: transform 250ms;
    justify-content: center;
}

.smallbox:hover{
    transform: translateY(-10px);
}

.button {
    text-decoration: none;
    color: black;
}

.button:hover {
    color: darkgray;
}

.boxes-container {
    display: flex;
    gap: 40px;
    font-size: 20px;
    flex-grow: 1;
    width: 100%
}

.coding-text, .picture-box {
    flex: 1; 
    width: 25%; 
  }
  
  /* Optional: If you want to ensure that the .coding-text and .picture-box are centered within their 25% width, you can add some additional styling */
  .coding-text, .picture-box {
    justify-content: center;
    align-items: center;
    text-align: center; /* For text alignment within .coding-text */
  }

 .running-container {
    display: flex;
    margin-left: 300px;
    margin-right: 100px;
 }
